body{
    margin: 0;
}
.div{
    /*display: flex;*/
    /*justify-content: center;*/
}
.userDiv{
    text-align: center;

}
.button{
    width: 90%;
}
.divBlock{
    display: flex;
    flex-wrap: wrap;

}
.divTitle{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 19%;
    box-sizing: border-box;
    margin: 5px;
    justify-content: space-between;
}
.buttonPost{

}